#a1{
    width: fit-content;
    border-radius: 15px;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background-image:  linear-gradient(to bottom right, rgba(224, 195, 252, 0.75) 0%, rgba(142, 197, 252, 0.75) 100%);
}
#container{
    display: grid;
    grid-template-rows: 15vh auto 3vh;
    height: 100vh;
    width: 100vw;
}
#box1{
    background-color: rgba(255, 255, 255, 0);
}
#box2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#box3{
    background-color: rgba(255, 255, 255, 0);
}
#inbox{
    display: flex;
    justify-content: space-around;
    margin: 1vh;
}
::placeholder{
    color:black;
}
.inp{
    border: none;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid black;
    width: 17vw;
}
span{
    width: auto;
}
.inp:focus{
    outline: none;
}
form{
    min-width: fit-content;
    width: 20vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    color: black;
}
legend{
    font-size: 15px;
    border:2px solid black;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    color: black;
}
#text{
    color:black;
}
#link{
    text-decoration: none;
    color: violet;
}
#link:hover{
    color: rgb(247, 55, 247);
}
.tooltip {
    position: relative;
    display: inline-block;
    margin: 1vh;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    padding:  5px;
    min-width: fit-content;
    width: 10vw;
    background-color: yellow;
    color: rgb(0, 4, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent yellow transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  #Success{
      color: green;
  }
  #Error{
      color: red;
  }
  input{
      background-color: rgba(255, 255, 255, 0);
  }